@use "variables" as v;

.formap {
    padding-top: 15vh;
    display: flex;
    flex-wrap: nowrap;

    .fixed-whatsaap {
        img {
            width: 60px;
            height: 60px;
        }

        position: fixed;
        bottom: 10px;
        right: 10px;

        z-index: 1000;
    }

    .formulario {
        background-color: rgb(8, 209, 98);
        width: 50vw;
        height: 130vh;

        padding: 3rem;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(19, auto);
        grid-template-areas:
            ". . consul . . . ."
            ". . . . . . . "
            ". nom nom . . . ."
            ". innom innom innom . . ."
            ". ape ape . . . ."
            ". inape inape inape . . ."
            ". pass pass . . . ."
            ". inpass inpass inpass . . ."
            ". mens mens . . . ."
            ". inmens inmens inmens . . ."
            ". inmens inmens inmens . . ."
            ". inmens inmens inmens . . ."
            ". gen gen . . . ."
            ". ingenh hom . . . ."
            ". ingenm muj . . . ."
            ". ingenp pre pre pre . ."
            ". susc insusc . . . ."
            ". . . . . . ."
            ". . . env . . .";

        .consul {
            grid-area: consul;
        }

        .nom {
            grid-area: nom;
            align-content: end;

        }



        .innom {
            grid-area: innom;
            transform: scale(0.9);

        }

        .innom:focus {
            background-color: rgb(141, 247, 229);
        }

        .innom:hover {
            border: 3px solid blue;
        }

        .ape {
            grid-area: ape;
            align-content: end;
        }

        .inape {
            grid-area: inape;
            transform: scale(0.9);
        }

        .inape:focus {
            background-color: rgb(141, 247, 229);
        }

        .inape:hover {
            border: 3px solid blue;
        }

        .pass {
            grid-area: pass;
            align-content: end;
        }

        .inpass {
            grid-area: inpass;
            transform: scale(0.9);
        }

        .inpass:focus {
            background-color: rgb(141, 247, 229);
        }

        .inpass:hover {
            border: 3px solid blue;
        }


        .mens {
            grid-area: mens;

            align-content: end;
        }

        .inmens {
            grid-area: inmens;
            height: 180px;
            transform: scale(0.9);
        }

        .inmens:focus {
            background-color: rgb(141, 247, 229);
        }

        .inmens:hover {
            border: 3px solid blue;
        }

        .gen {
            grid-area: gen;
            align-content: end;
        }

        .ingenh {
            grid-area: ingenh;
            transform: scale(0.6);
        }

        .hom {
            grid-area: hom;
            align-content: center;
        }

        .ingenm {
            grid-area: ingenm;
            transform: scale(0.6);
        }

        .muj {
            grid-area: muj;
            align-content: center;
        }

        .ingenp {
            grid-area: ingenp;
            transform: scale(0.6);
        }

        .pre {
            grid-area: pre;
            align-content: center;
        }

        .susc {
            grid-area: susc;
        }

        .insusc {
            grid-area: insusc;
            transform: scale(0.6);

        }

        .env {
            grid-area: env;
            transform: scale(0.9);
            display: flex;
            justify-self: center;
            align-self: center;
        }

    }

    .cajamapa {
        background-color: rgb(8, 209, 98);
        width: 100vw;
        height: 130vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .tammap {
            width: 50vw;
            height: 50vh;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 806px) {
    .formap {
        display: flex;
        flex-direction: column;

        .formulario {
            background-color: rgb(8, 209, 98);
            width: 100%;

            height: 120vh;

            padding: 3rem;
            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(19, auto);
            grid-template-areas:
                ". . . consul . . ."
                ". . . . . . ."
                " . . nom nom . . ."
                ". . innom innom innom . ."
                ". . ape ape . . ."
                ". . inape inape inape . ."
                ". . pass pass . . ."
                ". . inpass inpass inpass . ."
                ". . mens mens . . ."
                ". . inmens inmens inmens . ."
                ". . inmens inmens inmens . ."
                ". . inmens inmens inmens . ."
                ". . gen gen . . ."
                ". . ingenh hom . . ."
                ". . ingenm muj . . ."
                ". . ingenp pre pre . ."
                ". . susc insusc . . ."
                ". . . . . . ."
                ". . . . env . .";

            .consul {
                grid-area: consul;
            }

            .nom {
                grid-area: nom;
                align-content: end;

            }


            .innom {
                grid-area: innom;
                transform: scale(0.9);

            }

            .innom:focus {
                background-color: rgb(141, 247, 229);
            }

            .innom:hover {
                border: 3px solid blue;
            }

            .ape {
                grid-area: ape;
                align-content: end;
            }

            .inape {
                grid-area: inape;
                transform: scale(0.9);
            }

            .inape:focus {
                background-color: rgb(141, 247, 229);
            }

            .inape:hover {
                border: 3px solid blue;
            }

            .pass {
                grid-area: pass;
                align-content: end;
            }

            .inpass {
                grid-area: inpass;
                transform: scale(0.9);
            }

            .inpass:focus {
                background-color: rgb(141, 247, 229);
            }

            .inpass:hover {
                border: 3px solid blue;
            }


            .mens {
                grid-area: mens;
                align-content: end;
            }

            .inmens {
                grid-area: inmens;
                transform: scale(0.9);
            }

            .inmens:focus {
                background-color: rgb(141, 247, 229);
            }

            .inmens:hover {
                border: 3px solid blue;
            }

            .gen {
                grid-area: gen;
                align-content: end;
            }

            .ingenh {
                grid-area: ingenh;
                transform: scale(0.6);
            }

            .hom {
                grid-area: hom;
                align-content: center;
            }

            .ingenm {
                grid-area: ingenm;
                transform: scale(0.6);
            }

            .muj {
                grid-area: muj;
                align-content: center;
            }

            .ingenp {
                grid-area: ingenp;
                transform: scale(0.6);
            }

            .pre {
                grid-area: pre;
                align-content: center;
            }

            .susc {
                grid-area: susc;
            }

            .insusc {
                grid-area: insusc;
                transform: scale(0.6);

            }

            .env {
                grid-area: env;
                transform: scale(0.9);

                justify-self: center;
                align-self: center;
            }
        }
    }

    .cajamapa {
        background-color: rgb(8, 209, 98);
        width: 100%;
        height: 70vh !important;
        
        

        .tammap {
            width: 80% !important;
            height: 50vh !important;

        }

    }
}