@use "variables" as v;

.contcarru {
    
    width: 100%;
    height: 130vh !important;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 2rem;
    padding-block: 3rem;

    h5 {
        font-size: 2rem;
        margin: 0;
    }

    .carousel {
        width: 15vw;
        height: 10vh;
        .produc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}
    }
}
@media screen and (min-width: 320px) and (max-width: 430px) {.contcarru {
    width: 100%;
    height: 40vh;
    background-color: aquamarine;
    display: flex;
    align-content: center;
    justify-items: center;
    .carousel {
    width: 50vw;
    height: 30vh;
   
    .produc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

}
}
}