@use "variables" as v;

.contcarru {
    width: 100%;
    min-height: 180dvh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-block: 3rem;

    h5 {
        font-size: 3rem;
        margin: 0;
    }

    .carousel {
        width: 25vw;
        height: 40vh;
        .produc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}
    }
}
@media screen and (min-width: 320px) and (max-width: 430px) {.contcarru {
    width: 100%;
    height: 80vh;
    background-color: aquamarine;
    display: flex;
    align-content: center;
    justify-items: center;
    .carousel {
    width: 80vw;
    height: 40vh;
   
    .produc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

}
}
}