@use "variables" as v;

.contcarru {

    width: 100%;
    height: 110vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 2rem;
    padding-block: 3rem;

    .fixed-whatsaap {
        img {
            width: 60px;
            height: 60px;
        }

        position: fixed;
        bottom: 10px;
        right: 10px;

        z-index: 1000;
    }

    h5 {
        font-size: 2rem;
        margin: 0;
    }

    .carousel {
        width: 190px;
        height: 250px;

        .produc {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 900;
            text-align: center;
            margin-top: 10px;
        }
    }
}

@media screen and (min-width: 501px) and (max-width: 864px) {
    .contcarru {
        width: 100%;
        height: 110vh;
        background-color: aquamarine;
        display: flex;
        align-content: center;
        justify-items: center;

        .carousel {
            width: 190px;
            height: 250px;

            .produc {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 900;
                text-align: center;
                margin-top: 10px;
            }

        }
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .contcarru {
        width: 100%;
        height: 110vh;
        background-color: aquamarine;
        display: flex;
        align-content: center;
        justify-items: center;

        .carousel {
            width: 190px;
            height: 250px;

            .produc {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 900;
                text-align: center;
                margin-top: 10px;
            }

        }
    }
}