
@use "variables" as v;

header{background-color: v.$background;
    position: fixed;
    top: 0;
    right: 0;
  z-index: 1000;
  width: 100vw;
    height: 15vh;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo name enla enla enla enla enla enla enla but butcerr";
    align-items: center;
    justify-items: center;
    .logo {
    height: 12vh;
    width: auto;
}
.logo {
    grid-area: logo;
}
.but {
    grid-area: but;
    display: none;
}

.butcerr {
    grid-area: butcerr;
    display: none
}







.name {
    grid-area: name;
}

.enla {
    grid-area: enla;


}

.nav-list {
    list-style-type: none;
}

.stilnav {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(54, 54, 63);
    border-radius: 8px;
    color: black;


}
}