
@use "variables" as v;


header {
    background-color: v.$background;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: aqua;
    width: 100vw;
    height: 15vh;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo name enla enla enla enla enla enla enla but butcerr";
    align-items: center;
    justify-items: center;

    .logo {
        height: 12vh;
        width: auto;
        grid-area: logo;
    }
    .name{grid-area: name;}
    .but{ grid-area: but;
    display: none;}
    .enla{grid-area: enla;
    .butcerr{grid-area: butcerr;
    display: none}
.stilnav{text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(54, 54, 63);
    border-radius: 8px;
    color: black;}}
    
}
@media (max-width: 768px) {
  header {
  
    .enla {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 35%;
      right: 0;
      width: 200px;
      background: #5da6e2;
      padding: 1rem;
      
      
      z-index: 5000;
    }

    .but {
      display: block;
    }

  
    &.open .enla {
      display: flex;
    }
  }
}