@use "variables" as v;

.promocion {
    width: 100%;
    height: 90vh;
    background: #3abef2;
    background: linear-gradient(0deg, rgba(58, 190, 242, 1) 0%, rgba(2, 243, 111, 1) 0%, rgba(224, 224, 45, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .promo {
        font-size: 5em;
        font-family: fantasy;
        color: rgb(228, 146, 23);
        animation: left-right 5s ease infinite;
    }

    .promohoy {
        font-size: 5em;
        color: coral;

        font-weight: 800;
        animation: agrandar 2.5s ease-in-out forwards;;
    }

    .promodesc {
        font-size: 5em;
        color: red;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 500;
        animation: vibrar 0.3s linear infinite;
    }
}

@keyframes left-right {
    0% {
        transform: translateX(0);
    }
    30%{
        transform: translateX(50%);
    }
    65%{transform: translateX(-50%);}
    100%{transform: translateX(0%);}
}

@keyframes agrandar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5); 
  }
}
@keyframes vibrar {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}