@use "variables" as v;

.nosot {
    background-color: v.$background;
    padding-top: 15vh;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:

        "quienessomos desde"
        "quienessomos ."
        "quienessomos loc"
        "quienessomos loc";

    align-items: star;
    gap: 1rem;


    .quienessomos {
        margin: 2rem;
        grid-area: quienessomos;
        background-color: #f8f8f8;
        color: #333;
        padding: 2rem;
        border-radius: 20px;


        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        line-height: 1.6;

        h2 {
            text-align: center;
            color: #1e5a85;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            text-align: justify;
        }
    }

    h3 {
        grid-area: desde;
        align-content: center;
        font-family: 'Playfair Display', serif;

        font-size: 6rem;
        color: #14119c;

        text-align: center;
    }

    .loc {
        margin: 2rem;
        margin-bottom: 2rem;
        grid-area: loc;
        align-content: start;
        align-items: start;
        width: 45vw;
        height: 60vh;
        border: 5px solid rgb(47, 0, 255);
    }
}

@media screen and (min-width: 320px) and (max-width: 430px) {
    .nosot {
        width: 100%;

        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:

            "quienessomos"
            "quienessomos"
            "quienessomos"
            "quienessomos"
            "desde"
            "loc"
            "loc";
display: grid;
        align-items: star;
        justify-items: center;
    gap: 1rem;
    

        .quienessomos {
            width: 90vw;
            grid-area: quienessomos;
            background-color: #f8f8f8;
            color: #333;
            padding: 2rem;
            border-radius: 20px;


            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            line-height: 1.6;

            h2 {
                text-align: center;
                color: #1e5a85;
                font-size: 2rem;
                margin-bottom: 2rem;

            }

            p {
                font-size: 1.2rem;
                margin-bottom: 1rem;
                text-align: justify;
            }
        }
.loc {
    grid-area: loc;
    align-content: start;
    align-items: start;
    width: 90vw;
    height: 60vh;
    border: 5px solid rgb(47, 0, 255);
}
.desde {
    grid-area: desde;
    justify-items: center;
    font-family: 'Playfair Display', serif;
    
    font-size: 3rem;
    color: #14119c;
    
    
}
    }
}