/*Extend*/
.maintienda .repons1, .maintienda .repons2, .maintienda .repons3, .maintienda .repons4, .maintienda .repons5, .maintienda .repons6, .maintienda .repons7, .maintienda .repons8, .maintienda .repons9, .maintienda .repons10, .maintienda .repons11, .maintienda .repons12 {
  width: 20vw;
  height: 50vh;
}

.maintienda {
  padding-top: 15vh;
  background-color: aqua;
  width: 100%;
  gap: 3 rem;
  padding: 3 rem;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas: ". . . . . . tiend . . . . . ." ". repons1 repons1 repons1 . repons2 repons2 repons2 . repons3 repons3 repons3 ." ". descrip1 descrip1 descrip1 . descrip2 descrip2 descrip2 . descrip3 descrip3 descrip3 ." ". repons4 repons4 repons4 . repons5 repons5 repons5 . repons6 repons6 repons6 ." ". descrip4 descrip4 descrip4 . descrip5 descrip5 descrip5 . descrip6 descrip6 descrip6 ." ". repons7 repons7 repons7 . repons8 repons8 repons8 . repons9 repons9 repons9 ." ". descrip7 descrip7 descrip7 . descrip8 descrip8 descrip8 . descrip9 descrip9 descrip9 ." ". repons10 repons10 repons10 . repons11 repons11 repons11 . repons12 repons12 repons12 ." ". descrip10 descrip10 descrip10 . descrip11 descrip11 descrip11 . descrip12 descrip12 descrip12 .";
}
.maintienda .tiend {
  grid-area: tiend;
}
.maintienda .repons1 {
  grid-area: repons1;
}
.maintienda .descrip1 {
  grid-area: descrip1;
}
.maintienda .repons2 {
  grid-area: repons2;
}
.maintienda .descrip2 {
  grid-area: descrip2;
}
.maintienda .repons3 {
  grid-area: repons3;
}
.maintienda .descrip3 {
  grid-area: descrip3;
}
.maintienda .repons4 {
  grid-area: repons4;
}
.maintienda .descrip4 {
  grid-area: descrip4;
}
.maintienda .repons5 {
  grid-area: repons5;
}
.maintienda .descrip5 {
  grid-area: descrip5;
}
.maintienda .repons6 {
  grid-area: repons6;
}
.maintienda .descrip6 {
  grid-area: descrip6;
}
.maintienda .repons7 {
  grid-area: repons7;
}
.maintienda .descrip7 {
  grid-area: descrip7;
}
.maintienda .repons8 {
  grid-area: repons8;
}
.maintienda .descrip8 {
  grid-area: descrip8;
}
.maintienda .repons9 {
  grid-area: repons9;
}
.maintienda .descrip9 {
  grid-area: descrip9;
}
.maintienda .repons10 {
  grid-area: repons10;
}
.maintienda .descrip10 {
  grid-area: descrip10;
}
.maintienda .repons11 {
  grid-area: repons11;
}
.maintienda .descrip11 {
  grid-area: descrip11;
}
.maintienda .repons12 {
  grid-area: repons12;
}
.maintienda .descrip12 {
  grid-area: descrip12;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .maintienda {
    background-color: aqua;
    width: 100%;
    gap: 3rem;
    padding: 3rem;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(36, auto);
    grid-template-areas: "tiend" "repons1" "descrip1" "." "repons2" "descrip2" "." "repons3" "descrip3" "." "repons4" "descrip4" "." "repons5" "descrip5" "." "repons6" "descrip6" "." "repons7" "descrip7" "." "repons8" "descrip8" "." "repons9" "descrip9" "." "repons10" "descrip10" "." "repons11" "descrip11" "." "repons12" "descrip12";
    justify-items: center;
  }
  .maintienda .tiend {
    grid-area: tiend;
  }
  .maintienda .repons1 {
    width: 60vw;
    height: 50vh;
    grid-area: repons1;
  }
  .maintienda .descrip1 {
    grid-area: descrip1;
  }
  .maintienda .repons2 {
    width: 60vw;
    height: 50vh;
    grid-area: repons2;
  }
  .maintienda .descrip2 {
    grid-area: descrip2;
  }
  .maintienda .repons3 {
    width: 60vw;
    height: 50vh;
    grid-area: repons3;
  }
  .maintienda .descrip3 {
    grid-area: descrip3;
  }
  .maintienda .repons4 {
    width: 60vw;
    height: 50vh;
    grid-area: repons4;
  }
  .maintienda .descrip4 {
    grid-area: descrip4;
  }
  .maintienda .repons5 {
    width: 60vw;
    height: 50vh;
    grid-area: repons5;
  }
  .maintienda .descrip5 {
    grid-area: descrip5;
  }
  .maintienda .repons6 {
    width: 60vw;
    height: 50vh;
    grid-area: repons6;
  }
  .maintienda .descrip6 {
    grid-area: descrip6;
  }
  .maintienda .repons7 {
    width: 60vw;
    height: 50vh;
    grid-area: repons7;
  }
  .maintienda .descrip7 {
    grid-area: descrip7;
  }
  .maintienda .repons8 {
    width: 60vw;
    height: 50vh;
    grid-area: repons8;
  }
  .maintienda .descrip8 {
    grid-area: descrip8;
  }
  .maintienda .repons9 {
    width: 60vw;
    height: 50vh;
    grid-area: repons9;
  }
  .maintienda .descrip9 {
    grid-area: descrip9;
  }
  .maintienda .repons10 {
    width: 60vw;
    height: 50vh;
    grid-area: repons10;
  }
  .maintienda .descrip10 {
    grid-area: descrip10;
  }
  .maintienda .repons11 {
    width: 60vw;
    height: 50vh;
    grid-area: repons11;
  }
  .maintienda .descrip11 {
    grid-area: descrip11;
  }
  .maintienda .repons12 {
    width: 60vw;
    height: 50vh;
    grid-area: repons12;
  }
  .maintienda .descrip12 {
    grid-area: descrip12;
  }
}
header {
  background-color: aqua;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: aqua;
  width: 100vw;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo name enla enla enla enla enla enla enla but butcerr";
  align-items: center;
  justify-items: center;
}
header .logo {
  height: 12vh;
  width: auto;
  grid-area: logo;
}
header .name {
  grid-area: name;
}
header .but {
  grid-area: but;
  display: none;
}
header .enla {
  grid-area: enla;
}
header .enla .butcerr {
  grid-area: butcerr;
  display: none;
}
header .enla .stilnav {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: solid rgb(54, 54, 63);
  border-radius: 8px;
  color: black;
}

@media (max-width: 768px) {
  header .enla {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 35%;
    right: 0;
    width: 200px;
    background: #5da6e2;
    padding: 1rem;
    z-index: 5000;
  }
  header .but {
    display: block;
  }
  header.open .enla {
    display: flex;
  }
}
footer {
  margin-top: 10px;
  background-color: rgb(2, 243, 111);
}
footer div div h4 {
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
