@charset "UTF-8";
.maintienda {
  padding-top: 15vh;
  background-color: aqua;
  width: 100%;
  gap: 3 rem;
  padding: 3 rem;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas: ". . . . . . tiend . . . . . ." ". repons1 repons1 repons1 . repons2 repons2 repons2 . repons3 repons3 repons3 ." ". descrip1 descrip1 descrip1 . descrip2 descrip2 descrip2 . descrip3 descrip3 descrip3 ." ". repons4 repons4 repons4 . repons5 repons5 repons5 . repons6 repons6 repons6 ." ". descrip4 descrip4 descrip4 . descrip5 descrip5 descrip5 . descrip6 descrip6 descrip6 ." ". repons7 repons7 repons7 . repons8 repons8 repons8 . repons9 repons9 repons9 ." ". descrip7 descrip7 descrip7 . descrip8 descrip8 descrip8 . descrip9 descrip9 descrip9 ." ". repons10 repons10 repons10 . repons11 repons11 repons11 . repons12 repons12 repons12 ." ". descrip10 descrip10 descrip10 . descrip11 descrip11 descrip11 . descrip12 descrip12 descrip12 .";
}
.maintienda .tiend {
  grid-area: tiend;
}
.maintienda .repons1 {
  width: 20vw;
  height: 50vh;
  grid-area: repons1;
}
.maintienda .descrip1 {
  grid-area: descrip1;
}
.maintienda .repons2 {
  width: 20vw;
  height: 50vh;
  grid-area: repons2;
}
.maintienda .descrip2 {
  grid-area: descrip2;
}
.maintienda .repons3 {
  width: 20vw;
  height: 50vh;
  grid-area: repons3;
}
.maintienda .descrip3 {
  grid-area: descrip3;
}
.maintienda .repons4 {
  width: 20vw;
  height: 50vh;
  grid-area: repons4;
}
.maintienda .descrip4 {
  grid-area: descrip4;
}
.maintienda .repons5 {
  width: 20vw;
  height: 50vh;
  grid-area: repons5;
}
.maintienda .descrip5 {
  grid-area: descrip5;
}
.maintienda .repons6 {
  width: 20vw;
  height: 50vh;
  grid-area: repons6;
}
.maintienda .descrip6 {
  grid-area: descrip6;
}
.maintienda .repons7 {
  width: 20vw;
  height: 50vh;
  grid-area: repons7;
}
.maintienda .descrip7 {
  grid-area: descrip7;
}
.maintienda .repons8 {
  width: 20vw;
  height: 50vh;
  grid-area: repons8;
}
.maintienda .descrip8 {
  grid-area: descrip8;
}
.maintienda .repons9 {
  width: 20vw;
  height: 50vh;
  grid-area: repons9;
}
.maintienda .descrip9 {
  grid-area: descrip9;
}
.maintienda .repons10 {
  width: 20vw;
  height: 50vh;
  grid-area: repons10;
}
.maintienda .descrip10 {
  grid-area: descrip10;
}
.maintienda .repons11 {
  width: 20vw;
  height: 50vh;
  grid-area: repons11;
}
.maintienda .descrip11 {
  grid-area: descrip11;
}
.maintienda .repons12 {
  width: 20vw;
  height: 50vh;
  grid-area: repons12;
}
.maintienda .descrip12 {
  grid-area: descrip12;
}

.tiend {
  grid-area: tiend;
}

.repons1 {
  width: 20vw;
  height: 50vh;
  grid-area: repons1;
}

.descrip1 {
  grid-area: descrip1;
}

.repons2 {
  width: 20vw;
  height: 50vh;
  grid-area: repons2;
}

.descrip2 {
  grid-area: descrip2;
}

.repons3 {
  width: 20vw;
  height: 50vh;
  grid-area: repons3;
}

.descrip3 {
  grid-area: descrip3;
}

.repons4 {
  width: 20vw;
  height: 50vh;
  grid-area: repons4;
}

.descrip4 {
  grid-area: descrip4;
}

.repons5 {
  width: 20vw;
  height: 50vh;
  grid-area: repons5;
}

.descrip5 {
  grid-area: descrip5;
}

.repons6 {
  width: 20vw;
  height: 50vh;
  grid-area: repons6;
}

.descrip6 {
  grid-area: descrip6;
}

.repons7 {
  width: 20vw;
  height: 50vh;
  grid-area: repons7;
}

.descrip7 {
  grid-area: descrip7;
}

.repons8 {
  width: 20vw;
  height: 50vh;
  grid-area: repons8;
}

.descrip8 {
  grid-area: descrip8;
}

.repons9 {
  width: 20vw;
  height: 50vh;
  grid-area: repons9;
}

.descrip9 {
  grid-area: descrip9;
}

.repons10 {
  width: 20vw;
  height: 50vh;
  grid-area: repons10;
}

.descrip10 {
  grid-area: descrip10;
}

.repons11 {
  width: 20vw;
  height: 50vh;
  grid-area: repons11;
}

.descrip11 {
  grid-area: descrip11;
}

.repons12 {
  width: 20vw;
  height: 50vh;
  grid-area: repons12;
}

.descrip12 {
  grid-area: descrip12;
}

.nosot {
  background-color: aqua;
  padding-top: 15vh;
  height: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "quienessomos desde" "quienessomos ." "quienessomos loc" "quienessomos loc";
  align-items: star;
  gap: 1rem;
}

.quienessomos {
  grid-area: quienessomos;
  background-color: #f8f8f8;
  color: #333;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.quienessomos h2 {
  text-align: center;
  color: #1e5a85;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.quienessomos p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.loc {
  grid-area: loc;
  align-content: start;
  align-items: start;
  width: 45vw;
  height: 60vh;
  border: 5px solid rgb(47, 0, 255);
}

.desde {
  grid-area: desde;
  align-content: center;
  font-family: "Playfair Display", serif;
  /* elegante y clásica */
  font-size: 6rem;
  color: #14119c;
  /* azul profundo */
  text-align: center;
}

header {
  background-color: aqua;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100vw;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo name enla enla enla enla enla enla enla but butcerr";
  align-items: center;
  justify-items: center;
}
header .logo {
  height: 12vh;
  width: auto;
}
header .logo {
  grid-area: logo;
}
header .but {
  grid-area: but;
  display: none;
}
header .butcerr {
  grid-area: butcerr;
  display: none;
}
header .name {
  grid-area: name;
}
header .enla {
  grid-area: enla;
}
header .nav-list {
  list-style-type: none;
}
header .stilnav {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: solid rgb(54, 54, 63);
  border-radius: 8px;
  color: black;
}

.colorfondo {
  margin-top: 10px;
  background-color: rgb(2, 243, 111);
}
.colorfondo h4 {
  margin-top: 20px;
  font-size: medium;
}
.colorfondo .container {
  background-color: rgb(2, 243, 111);
}

.bodycontac {
  background-color: rgb(8, 209, 98);
}

.formap {
  padding-top: 15vh;
  display: flex;
  flex-wrap: nowrap;
}
.formap .formulario {
  background-color: rgb(8, 209, 98);
  width: 50vw;
  height: 90vh;
  padding: 3rem;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(17, auto);
  grid-template-areas: ". . consul . . . ." ". . . . . . . " ". nom nom . . . ." ". innom innom innom . . ." ". ape ape . . . ." ". inape inape inape . . ." ". pass pass . . . ." ". inpass inpass inpass . . ." ". mens mens . . . ." ". inmens inmens inmens . . ." ". gen gen . . . ." ". ingenh hom . . . ." ". ingenm muj . . . ." ". ingenp pre pre pre . ." ". susc insusc . . . ." ". . . . . . ." ". . . env . . .";
}
.formap .consul {
  grid-area: consul;
}
.formap .nom {
  grid-area: nom;
  align-content: end;
}
.formap .innom {
  grid-area: innom;
  transform: scale(0.9);
}
.formap .innom:focus {
  background-color: rgb(141, 247, 229);
}
.formap .innom:hover {
  border: 3px solid blue;
}
.formap .ape {
  grid-area: ape;
  align-content: end;
}
.formap .inape {
  grid-area: inape;
  transform: scale(0.9);
}
.formap .inape:focus {
  background-color: rgb(141, 247, 229);
}
.formap .inape:hover {
  border: 3px solid blue;
}
.formap .pass {
  grid-area: pass;
  align-content: end;
}
.formap .inpass {
  grid-area: inpass;
  transform: scale(0.9);
}
.formap .inpass:focus {
  background-color: rgb(141, 247, 229);
}
.formap .inpass:hover {
  border: 3px solid blue;
}
.formap .mens {
  grid-area: mens;
  align-content: end;
}
.formap .inmens {
  grid-area: inmens;
  transform: scale(0.9);
}
.formap .inmens:focus {
  background-color: rgb(141, 247, 229);
}
.formap .inmens:hover {
  border: 3px solid blue;
}
.formap .gen {
  grid-area: gen;
  align-content: end;
}
.formap .ingenh {
  grid-area: ingenh;
  transform: scale(0.6);
}
.formap .hom {
  grid-area: hom;
  align-content: center;
}
.formap .ingenm {
  grid-area: ingenm;
  transform: scale(0.6);
}
.formap .muj {
  grid-area: muj;
  align-content: center;
}
.formap .ingenp {
  grid-area: ingenp;
  transform: scale(0.6);
}
.formap .pre {
  grid-area: pre;
  align-content: center;
}
.formap .susc {
  grid-area: susc;
}
.formap .insusc {
  grid-area: insusc;
  transform: scale(0.6);
}
.formap .env {
  grid-area: env;
  transform: scale(0.9);
  justify-self: center;
  align-self: center;
}
.formap .cajamapa {
  background-color: rgb(8, 209, 98);
  width: 50vw;
  height: 90vh;
  justify-items: center;
  align-content: center;
}

.contcarru {
  width: 100%;
  min-height: 180dvh;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-block: 3rem;
}
.contcarru h5 {
  font-size: 3rem;
  margin: 0;
}
.contcarru .carousel {
  width: 25vw;
  height: 40vh;
}
.contcarru .produc {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
