/*Extend es para formato pc*/
.maintienda .repons1, .maintienda .repons2, .maintienda .repons3, .maintienda .repons4, .maintienda .repons5, .maintienda .repons6, .maintienda .repons7, .maintienda .repons8, .maintienda .repons9, .maintienda .repons10, .maintienda .repons11, .maintienda .repons12 {
  width: 20vw;
  height: 50vh;
}

/*mixin que es para celular*/
.maintienda {
  padding-top: 15vh;
  background-color: aqua;
  width: 100%;
  gap: 3 rem;
  padding: 3 rem;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas: ". . . . . . tiend . . . . . ." ". repons1 repons1 repons1 . repons2 repons2 repons2 . repons3 repons3 repons3 ." ". descrip1 descrip1 descrip1 . descrip2 descrip2 descrip2 . descrip3 descrip3 descrip3 ." ". repons4 repons4 repons4 . repons5 repons5 repons5 . repons6 repons6 repons6 ." ". descrip4 descrip4 descrip4 . descrip5 descrip5 descrip5 . descrip6 descrip6 descrip6 ." ". repons7 repons7 repons7 . repons8 repons8 repons8 . repons9 repons9 repons9 ." ". descrip7 descrip7 descrip7 . descrip8 descrip8 descrip8 . descrip9 descrip9 descrip9 ." ". repons10 repons10 repons10 . repons11 repons11 repons11 . repons12 repons12 repons12 ." ". descrip10 descrip10 descrip10 . descrip11 descrip11 descrip11 . descrip12 descrip12 descrip12 .";
}
.maintienda .tiend {
  grid-area: tiend;
}
.maintienda .repons1 {
  margin-top: 2rem;
  grid-area: repons1;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons1:hover {
  transform: scale(1.1);
}
.maintienda .descrip1 {
  margin-top: 1rem;
  grid-area: descrip1;
}
.maintienda .repons2 {
  margin-top: 2rem;
  grid-area: repons2;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons2:hover {
  transform: scale(1.1);
}
.maintienda .descrip2 {
  margin-top: 1rem;
  grid-area: descrip2;
}
.maintienda .repons3 {
  margin-top: 2rem;
  grid-area: repons3;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons3:hover {
  transform: scale(1.1);
}
.maintienda .descrip3 {
  margin-top: 1rem;
  grid-area: descrip3;
}
.maintienda .repons4 {
  margin-top: 2rem;
  grid-area: repons4;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons4:hover {
  transform: scale(1.1);
}
.maintienda .descrip4 {
  margin-top: 1rem;
  grid-area: descrip4;
}
.maintienda .repons5 {
  margin-top: 2rem;
  grid-area: repons5;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons5:hover {
  transform: scale(1.1);
}
.maintienda .descrip5 {
  margin-top: 1rem;
  grid-area: descrip5;
}
.maintienda .repons6 {
  margin-top: 2rem;
  grid-area: repons6;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons6:hover {
  transform: scale(1.1);
}
.maintienda .descrip6 {
  margin-top: 1rem;
  grid-area: descrip6;
}
.maintienda .repons7 {
  margin-top: 2rem;
  grid-area: repons7;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons7:hover {
  transform: scale(1.1);
}
.maintienda .descrip7 {
  margin-top: 1rem;
  grid-area: descrip7;
}
.maintienda .repons8 {
  margin-top: 2rem;
  grid-area: repons8;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons8:hover {
  transform: scale(1.1);
}
.maintienda .descrip8 {
  margin-top: 1rem;
  grid-area: descrip8;
}
.maintienda .repons9 {
  margin-top: 2rem;
  grid-area: repons9;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons9:hover {
  transform: scale(1.1);
}
.maintienda .descrip9 {
  margin-top: 1rem;
  grid-area: descrip9;
}
.maintienda .repons10 {
  margin-top: 2rem;
  grid-area: repons10;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons10:hover {
  transform: scale(1.1);
}
.maintienda .descrip10 {
  margin-top: 1rem;
  grid-area: descrip10;
}
.maintienda .repons11 {
  margin-top: 2rem;
  grid-area: repons11;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons11:hover {
  transform: scale(1.1);
}
.maintienda .descrip11 {
  margin-top: 1rem;
  grid-area: descrip11;
}
.maintienda .repons12 {
  margin-top: 2rem;
  grid-area: repons12;
  transition: transform 0.3s ease-in-out;
}
.maintienda .repons12:hover {
  transform: scale(1.1);
}
.maintienda .descrip12 {
  margin-top: 1rem;
  grid-area: descrip12;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .maintienda {
    background-color: aqua;
    width: 100%;
    gap: 2rem;
    padding: 3rem;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(38, auto);
    grid-template-areas: "." "." "tiend" "repons1" "descrip1" "." "repons2" "descrip2" "." "repons3" "descrip3" "." "repons4" "descrip4" "." "repons5" "descrip5" "." "repons6" "descrip6" "." "repons7" "descrip7" "." "repons8" "descrip8" "." "repons9" "descrip9" "." "repons10" "descrip10" "." "repons11" "descrip11" "." "repons12" "descrip12";
    justify-items: center;
  }
  .maintienda .tiend {
    grid-area: tiend;
  }
  .maintienda .repons1 {
    width: 60vw;
    height: 50vh;
    grid-area: repons1;
  }
  .maintienda .descrip1 {
    grid-area: descrip1;
  }
  .maintienda .repons2 {
    width: 60vw;
    height: 50vh;
    grid-area: repons2;
  }
  .maintienda .descrip2 {
    grid-area: descrip2;
  }
  .maintienda .repons3 {
    width: 60vw;
    height: 50vh;
    grid-area: repons3;
  }
  .maintienda .descrip3 {
    grid-area: descrip3;
  }
  .maintienda .repons4 {
    width: 60vw;
    height: 50vh;
    grid-area: repons4;
  }
  .maintienda .descrip4 {
    grid-area: descrip4;
  }
  .maintienda .repons5 {
    width: 60vw;
    height: 50vh;
    grid-area: repons5;
  }
  .maintienda .descrip5 {
    grid-area: descrip5;
  }
  .maintienda .repons6 {
    width: 60vw;
    height: 50vh;
    grid-area: repons6;
  }
  .maintienda .descrip6 {
    grid-area: descrip6;
  }
  .maintienda .repons7 {
    width: 60vw;
    height: 50vh;
    grid-area: repons7;
  }
  .maintienda .descrip7 {
    grid-area: descrip7;
  }
  .maintienda .repons8 {
    width: 60vw;
    height: 50vh;
    grid-area: repons8;
  }
  .maintienda .descrip8 {
    grid-area: descrip8;
  }
  .maintienda .repons9 {
    width: 60vw;
    height: 50vh;
    grid-area: repons9;
  }
  .maintienda .descrip9 {
    grid-area: descrip9;
  }
  .maintienda .repons10 {
    width: 60vw;
    height: 50vh;
    grid-area: repons10;
  }
  .maintienda .descrip10 {
    grid-area: descrip10;
  }
  .maintienda .repons11 {
    width: 60vw;
    height: 50vh;
    grid-area: repons11;
  }
  .maintienda .descrip11 {
    grid-area: descrip11;
  }
  .maintienda .repons12 {
    width: 60vw;
    height: 50vh;
    grid-area: repons12;
  }
  .maintienda .descrip12 {
    grid-area: descrip12;
  }
}
.nosot {
  background-color: aqua;
  padding-top: 15vh;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "quienessomos desde" "quienessomos ." "quienessomos loc" "quienessomos loc";
  align-items: star;
  gap: 1rem;
}
.nosot .quienessomos {
  margin: 2rem;
  grid-area: quienessomos;
  background-color: #f8f8f8;
  color: #333;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}
.nosot .quienessomos h2 {
  text-align: center;
  color: #1e5a85;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.nosot .quienessomos p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: justify;
}
.nosot h3 {
  grid-area: desde;
  align-content: center;
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  color: #14119c;
  text-align: center;
}
.nosot .loc {
  margin: 2rem;
  margin-bottom: 2rem;
  grid-area: loc;
  align-content: start;
  align-items: start;
  width: 45vw;
  height: 60vh;
  border: 5px solid rgb(47, 0, 255);
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .nosot {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "quienessomos" "quienessomos" "quienessomos" "quienessomos" "desde" "loc" "loc";
    display: flex;
    align-items: star;
    justify-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .nosot .quienessomos {
    width: 80vw;
    grid-area: quienessomos;
    background-color: #f8f8f8;
    color: #333;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
  }
  .nosot .quienessomos h2 {
    text-align: center;
    color: #1e5a85;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .nosot .quienessomos p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
  }
  .nosot .loc {
    grid-area: loc;
    align-content: start;
    align-items: start;
    width: 80vw;
    height: 60vh;
    border: 5px solid rgb(47, 0, 255);
  }
  .nosot .desde {
    grid-area: desde;
    display: flex;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #14119c;
  }
}
.promocion {
  width: 100%;
  height: 100vh;
  background: #3abef2;
  background: linear-gradient(0deg, rgb(58, 190, 242) 0%, rgb(2, 243, 111) 0%, rgb(224, 224, 45) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.promocion .promo {
  margin-top: 50px;
  font-size: 5em;
  font-family: fantasy;
  color: rgb(228, 146, 23);
  animation: left-right-pc 5s ease infinite;
}
.promocion .promohoy {
  font-size: 5em;
  color: coral;
  font-weight: 800;
  animation: agrandar 2.5s ease-in-out forwards;
}
.promocion .promodesc {
  font-size: 5em;
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  animation: vibrar 0.3s linear infinite;
}

@keyframes left-right-pc {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(50%);
  }
  65% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes agrandar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes vibrar {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 501px) and (max-width: 864px) {
  .promocion {
    width: 100%;
    height: 100vh;
    background: #3abef2;
    background: linear-gradient(0deg, rgb(58, 190, 242) 0%, rgb(2, 243, 111) 0%, rgb(224, 224, 45) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  .promocion .promo {
    font-size: 3em;
    font-family: fantasy;
    color: rgb(228, 146, 23);
    animation: left-right-tablet 5s ease infinite;
  }
  .promocion .promohoy {
    font-size: 2rem;
    color: coral;
    font-weight: 800;
    animation: agrandar-tablet 2.5s ease-in-out forwards;
  }
  .promocion .promodesc {
    font-size: 2em;
    color: red;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 500;
    animation: vibrar-tablet 0.3s linear infinite;
  }
  @keyframes left-right-tablet {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(20vw);
    }
    65% {
      transform: translateX(-20vw);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes agrandar-tablet {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.8);
    }
  }
  @keyframes vibrar-tablet {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-2px);
    }
    40% {
      transform: translateX(2px);
    }
    60% {
      transform: translateX(-2px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .promocion {
    width: 100%;
    height: 70vh;
    background: #3abef2;
    background: linear-gradient(0deg, rgb(58, 190, 242) 0%, rgb(2, 243, 111) 0%, rgb(224, 224, 45) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  .promocion .promo {
    font-size: 2em;
    font-family: fantasy;
    color: rgb(228, 146, 23);
    animation: left-right-celu 5s ease infinite;
  }
  .promocion .promohoy {
    font-size: 1.5em;
    color: coral;
    font-weight: 800;
    animation: agrandar-celu 2.5s ease-in-out forwards;
  }
  .promocion .promodesc {
    font-size: 2em;
    color: red;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 500;
    animation: vibrar-celu 0.3s linear infinite;
  }
  @keyframes left-right-celu {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(10vw);
    }
    65% {
      transform: translateX(-10vw);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes agrandar-celu {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  @keyframes vibrar-celu {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-2px);
    }
    40% {
      transform: translateX(2px);
    }
    60% {
      transform: translateX(-2px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
header {
  background-color: aqua;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: aqua;
  width: 100vw;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo name enla enla enla enla enla enla enla but butcerr";
  align-items: center;
  justify-items: center;
}
header .logo {
  height: 12vh;
  width: auto;
  grid-area: logo;
}
header .name {
  grid-area: name;
}
header .but {
  grid-area: but;
  display: none;
}
header .enla {
  grid-area: enla;
  margin-left: 25rem;
}
header .enla .butcerr {
  grid-area: butcerr;
  display: none;
}
header .enla .stilnav {
  text-decoration: none;
  margin-right: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: solid rgb(54, 54, 63);
  border-radius: 8px;
  color: black;
}

@media (max-width: 1320px) {
  header .enla {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 5%;
    right: 13%;
    width: 200px;
    background: #5da6e2;
    padding: 1rem;
    z-index: 5000;
  }
  header .but {
    display: block;
  }
  header.open .enla {
    display: flex;
  }
}
.contcarru {
  width: 100%;
  height: 130vh !important;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 2rem;
  padding-block: 3rem;
}
.contcarru h5 {
  font-size: 2rem;
  margin: 0;
}
.contcarru .carousel {
  width: 15vw;
  height: 10vh;
}
.contcarru .carousel .produc {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .contcarru {
    width: 100%;
    height: 40vh;
    background-color: aquamarine;
    display: flex;
    align-content: center;
    justify-items: center;
  }
  .contcarru .carousel {
    width: 50vw;
    height: 30vh;
  }
  .contcarru .carousel .produc {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
  }
}
footer {
  margin-top: 10px;
  background-color: rgb(2, 243, 111);
}
footer div div h4 {
  margin-top: 20px;
}

.formap {
  padding-top: 15vh;
  display: flex;
  flex-wrap: nowrap;
}
.formap .formulario {
  background-color: rgb(8, 209, 98);
  width: 50vw;
  height: 100vh;
  padding: 3rem;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(17, auto);
  grid-template-areas: ". . consul . . . ." ". . . . . . . " ". nom nom . . . ." ". innom innom innom . . ." ". ape ape . . . ." ". inape inape inape . . ." ". pass pass . . . ." ". inpass inpass inpass . . ." ". mens mens . . . ." ". inmens inmens inmens . . ." ". gen gen . . . ." ". ingenh hom . . . ." ". ingenm muj . . . ." ". ingenp pre pre pre . ." ". susc insusc . . . ." ". . . . . . ." ". . . env . . .";
}
.formap .formulario .consul {
  grid-area: consul;
}
.formap .formulario .nom {
  grid-area: nom;
  align-content: end;
}
.formap .formulario .innom {
  grid-area: innom;
  transform: scale(0.9);
}
.formap .formulario .innom:focus {
  background-color: rgb(141, 247, 229);
}
.formap .formulario .innom:hover {
  border: 3px solid blue;
}
.formap .formulario .ape {
  grid-area: ape;
  align-content: end;
}
.formap .formulario .inape {
  grid-area: inape;
  transform: scale(0.9);
}
.formap .formulario .inape:focus {
  background-color: rgb(141, 247, 229);
}
.formap .formulario .inape:hover {
  border: 3px solid blue;
}
.formap .formulario .pass {
  grid-area: pass;
  align-content: end;
}
.formap .formulario .inpass {
  grid-area: inpass;
  transform: scale(0.9);
}
.formap .formulario .inpass:focus {
  background-color: rgb(141, 247, 229);
}
.formap .formulario .inpass:hover {
  border: 3px solid blue;
}
.formap .formulario .mens {
  grid-area: mens;
  align-content: end;
}
.formap .formulario .inmens {
  grid-area: inmens;
  transform: scale(0.9);
}
.formap .formulario .inmens:focus {
  background-color: rgb(141, 247, 229);
}
.formap .formulario .inmens:hover {
  border: 3px solid blue;
}
.formap .formulario .gen {
  grid-area: gen;
  align-content: end;
}
.formap .formulario .ingenh {
  grid-area: ingenh;
  transform: scale(0.6);
}
.formap .formulario .hom {
  grid-area: hom;
  align-content: center;
}
.formap .formulario .ingenm {
  grid-area: ingenm;
  transform: scale(0.6);
}
.formap .formulario .muj {
  grid-area: muj;
  align-content: center;
}
.formap .formulario .ingenp {
  grid-area: ingenp;
  transform: scale(0.6);
}
.formap .formulario .pre {
  grid-area: pre;
  align-content: center;
}
.formap .formulario .susc {
  grid-area: susc;
}
.formap .formulario .insusc {
  grid-area: insusc;
  transform: scale(0.6);
}
.formap .formulario .env {
  grid-area: env;
  transform: scale(0.9);
  display: flex;
  justify-self: center;
  align-self: center;
}
.formap .cajamapa {
  background-color: rgb(8, 209, 98);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formap .cajamapa .tammap {
  width: 50vw;
  height: 50vh;
}

@media screen and (min-width: 320px) and (max-width: 806px) {
  .formap {
    display: flex;
    flex-wrap: wrap;
  }
  .formap .formulario {
    background-color: rgb(8, 209, 98);
    width: 100%;
    height: 100vh;
    padding: 3rem;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(17, auto);
    grid-template-areas: ". consul ." ". . ." "nom nom ." "innom innom innom" "ape ape . " "inape inape inape" "pass pass ." "inpass inpass inpass" "mens mens ." "inmens inmens inmens" "gen gen ." ". ingenh hom" ". ingenm muj" ". ingenp pre" "susc insusc ." ". . ." ". . env";
  }
  .formap .formulario .consul {
    grid-area: consul;
  }
  .formap .formulario .nom {
    grid-area: nom;
    align-content: end;
  }
  .formap .formulario .innom {
    grid-area: innom;
    transform: scale(0.9);
  }
  .formap .formulario .innom:focus {
    background-color: rgb(141, 247, 229);
  }
  .formap .formulario .innom:hover {
    border: 3px solid blue;
  }
  .formap .formulario .ape {
    grid-area: ape;
    align-content: end;
  }
  .formap .formulario .inape {
    grid-area: inape;
    transform: scale(0.9);
  }
  .formap .formulario .inape:focus {
    background-color: rgb(141, 247, 229);
  }
  .formap .formulario .inape:hover {
    border: 3px solid blue;
  }
  .formap .formulario .pass {
    grid-area: pass;
    align-content: end;
  }
  .formap .formulario .inpass {
    grid-area: inpass;
    transform: scale(0.9);
  }
  .formap .formulario .inpass:focus {
    background-color: rgb(141, 247, 229);
  }
  .formap .formulario .inpass:hover {
    border: 3px solid blue;
  }
  .formap .formulario .mens {
    grid-area: mens;
    align-content: end;
  }
  .formap .formulario .inmens {
    grid-area: inmens;
    transform: scale(0.9);
  }
  .formap .formulario .inmens:focus {
    background-color: rgb(141, 247, 229);
  }
  .formap .formulario .inmens:hover {
    border: 3px solid blue;
  }
  .formap .formulario .gen {
    grid-area: gen;
    align-content: end;
  }
  .formap .formulario .ingenh {
    grid-area: ingenh;
    transform: scale(0.6);
  }
  .formap .formulario .hom {
    grid-area: hom;
    align-content: center;
  }
  .formap .formulario .ingenm {
    grid-area: ingenm;
    transform: scale(0.6);
  }
  .formap .formulario .muj {
    grid-area: muj;
    align-content: center;
  }
  .formap .formulario .ingenp {
    grid-area: ingenp;
    transform: scale(0.22);
  }
  .formap .formulario .pre {
    grid-area: pre;
    align-content: center;
  }
  .formap .formulario .susc {
    grid-area: susc;
  }
  .formap .formulario .insusc {
    grid-area: insusc;
    transform: scale(0.6);
  }
  .formap .formulario .env {
    grid-area: env;
    transform: scale(0.9);
    justify-self: center;
    align-self: center;
  }
  .cajamapa {
    background-color: rgb(8, 209, 98);
    width: 100%;
    height: 60vh;
    display: flex;
    justify-items: center;
    align-content: center;
  }
  .cajamapa .tammap {
    width: 80% !important;
    height: 50vh !important;
  }
}

/*# sourceMappingURL=style.css.map */
